# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察填補缺值以及 標準化 / 最小最大化 對數值的影響

# [作業重點]
- 觀察替換不同補缺方式, 對於特徵的影響 (In[4]~In[6], Out[4]~Out[6])
- 觀察替換不同特徵縮放方式, 對於特徵的影響 (In[7]~In[8], Out[7]~Out[8])

In [142]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head(10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [143]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [144]:
# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
train_num = train_Y.shape[0]
df.head()
train_Y.shape

(891,)

# 作業1
* 試著在補空值區塊, 替換並執行兩種以上填補的缺值, 看看何者比較好?

In [145]:
# 空值補 -1, 做羅吉斯迴歸
df_ml_1 = df.fillna(-1)
train_X = df_ml_1[:train_num]
estimator = LogisticRegression(solver='liblinear')
print(f'score1:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

"""
Your Code Here
"""
df_ml_2 = df.fillna(0)
train_X = df_ml_2[:train_num]
print(f'score2:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')
      
df_ml_3 = df.fillna(df.mean())
train_X = df_ml_3[:train_num]
print(f'score3:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')
      
df_ml_4 = df[:train_num].dropna(axis=0,how='any')
train_Y_1 = train_Y[df_ml_4.index]
print('score4:',cross_val_score(estimator, df_ml4, train_Y_1, cv=5).mean())

score1:0.6960299128976762

score2:0.6971535084032942

score3:0.6981761033723469

score4: 0.6932827735644638

# 作業2
* 使用不同的標準化方式 ( 原值 / 最小最大化 / 標準化 )，搭配羅吉斯迴歸模型，何者效果最好?

In [146]:
"""
Your Code Here
"""
df_temp = StandardScaler().fit_transform(df_ml_1)
train_X = df_temp[:train_num]
print(f'standard_normalized_score1:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = StandardScaler().fit_transform(df_ml_2)
train_X = df_temp[:train_num]
print(f'standard_normalized_score2:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = StandardScaler().fit_transform(df_ml_3)
train_X = df_temp[:train_num]
print(f'standard_normalized_score3:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = StandardScaler().fit_transform(df_ml_4)
print(f'standard_normalized_score4:{cross_val_score(estimator, df_temp, train_Y1, cv=5).mean()}\n')

df_temp = MinMaxScaler().fit_transform(df_ml_1)
train_X = df_temp[:train_num]
print(f'minmax_normalized_score1:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = MinMaxScaler().fit_transform(df_ml_2)
train_X = df_temp[:train_num]
print(f'minmax_normalized_score2:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = MinMaxScaler().fit_transform(df_ml_3)
train_X = df_temp[:train_num]
print(f'minmax_normalized_score3:{cross_val_score(estimator, train_X, train_Y, cv=5).mean()}\n')

df_temp = MinMaxScaler().fit_transform(df_ml_4)
print('minmax_normalized_score4:',cross_val_score(estimator, df_temp, train_Y1, cv=5).mean())

standard_normalized_score1:0.6982582017719778

standard_normalized_score2:0.6982582017719778

standard_normalized_score3:0.6959413955734954

standard_normalized_score4:0.6890869693686594

minmax_normalized_score1:0.6971346062663598

minmax_normalized_score2:0.7016289882888318

minmax_normalized_score3:0.6993501991462476

minmax_normalized_score4: 0.7031123805771694

處理空值後最大最小化顯然較好。